.container {
    padding: 16px;
    margin-left: 32%;
    margin-top: 10%;
    width: 40%;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 20px;
    margin: 10px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.addBuildingBtn {
    background-color: #10207c;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.addBuildingBtn:hover {
    opacity: 1;
}