.container {
    padding: 16px;
    background-color: white;
    margin-left : 29%;
    margin-top:7%;
    width: 40%;
  }
    

.dropdown{
  margin-bottom: 10px;
}
.picker{
  margin-top: 10px;
  margin-left: 20%;
}
.date{
  margin-left: 25%;
}


.addButton {
  background-color: #10207c;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}